service firebase.storage {
  match /b/{bucket}/o {
    match /apps/{uid=*}/{allPaths=**} {
      allow write: if request.auth.uid == uid;
      allow read;
    }
  }
}
