service firebase.storage {
  match /b/{bucket}/o {
    match /apps/{uid=*}/{allPaths=**} {
      allow write: if request.auth.uid == uid;
      allow read;
    }
    match /orgs/{orgId=*} {
      match /projects/{projectId=*} {
        match /user-assets/{userId=*}/{assetId=*} {
          allow write: if request.auth.uid == userId                       // keep it namespaced
                      && request.resource.size < 5 * 1024 * 1024           // < 5mb
                      && (request.resource.contentType.matches('image/.*') // only images or json
                        || request.resource.contentType.matches('application/json'));
          allow read: if request.auth != null;                             // we gotta tighten this up
        }
        match /shared-assets/{assetId=*} {
          allow read: if request.auth != null;
        }
      }
    }
  }
}
