service firebase.storage {
  match /b/{bucket}/o {
    match /apps/{uid=*}/{allPaths=**} {
      allow write: if request.auth.uid == uid;
      allow read;
    }
    match /orgs/{orgId=*} {
      match /projects/{projectId=*} {
        match /user-assets/{userId=*}/{assetId=*} {
          allow write: if request.auth.uid == userId                       // keep it namespaced
                      && resource == null                                  // append-only
                      && request.resource.size < 5 * 1024 * 1024           // < 5mb
                      && request.resource.contentType.matches('image/.*'); // and images only for now
          allow read: if request.auth != null;                             // we gotta tighten this up
        }
      }
    }
  }
}
